@str-background : 'http://cdn.dota2.com.cn/apps/dota2/images/heropedia/overviewicon_str.png';
@agi-background : 'http://cdn.dota2.com.cn/apps/dota2/images/heropedia/overviewicon_agi.png';
@int-background : 'http://cdn.dota2.com.cn/apps/dota2/images/heropedia/overviewicon_int.png';

.allhero{
	padding: 0 10px 10px 20px;
	overflow: hidden;
	.columnHeader{
		margin:10px 0;
		height: 42px;
		overflow: hidden;
	}
	.strhero, .agihero, .inthero{
		overflow: hidden;
		.column{
			height: 42px;
			line-height: 42px;
			font-size: 16px;
			padding: 6px 10px 15px 40px;
		}
		.herolist{
			float:left;
		}
    }
    .strhero{
		#columnStr{
			background: url(@str-background) no-repeat 0 center;
		}
	}
	.agihero{
		#columnAgi{
			background: url(@agi-background) no-repeat 0 center;
		}
    }
    .inthero{
		#columnInt{
			background: url(@int-background) no-repeat 0 center;
		}

	}
}
